@page
@model MyFirstWebApplication.Pages.AddressesModel
@{
}
<h1 class="text-center display-4">Адреса ресторанов:</h1>
<ul>
	<li>г. Москва, ул. Смольная, 5</li>
	<li>г. Санкт-Петербург, Старо-Петергофский проспект, 50</li>
	<li>г. Тула, ул. Осташева, 18</li>
</ul>
